body {
    background-color: #0C0C0C;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25rem;
    color: #33FF33;
}
